@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&italic&display=swap");

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$selection-border: 1px solid hsl(0, 0%, 88%);

@mixin soft-blue-back($opacity: 1) {
  background-color: hsla(231, 69%, 60%, $opacity);
}
@mixin dark-blue-back($opacity: 1) {
  background-color: hsla(229, 31%, 21%, $opacity);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 18px;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

/* #### general #### */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $very-dark-blue;
  line-height: 1.4;
  letter-spacing: 1px;
}

p {
  color: $grayish-blue;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

/* #### utility classes #### */
.container {
  margin-inline: auto;
  max-width: 1150px;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
	align-items: center;
}
.gap-1 {
	gap: 1rem;
}

.btn {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px -5px hsla(231, 69%, 60%, 0.3);
}
.padded-btn {
  padding: 0.9rem 1rem;
}
.sized-btn {
}
.primary-btn {
  @include soft-blue-back;
  color: white;
}
.secondary-btn {
  background-color: hsl(0, 0%, 97%);
  color: $very-dark-blue;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-padding {
  padding-inline: min(8vw, 4rem);
}

.background-pattern {
  position: absolute;
  background-color: $soft-blue;
  height: 200px;
  aspect-ratio: 3 / 1;
  z-index: -9999;
  border-radius: 10rem;
}

/* ################ Main, Footer ################ */
main,
footer {
  text-align: center;
}

section {
  padding-block: 2rem;
}

/* ################ Header ################ */
header {
  height: 100px;

  .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-container {
    @include dark-blue-back(0.95);
    position: fixed;
    inset: 0 0 0 0;
    z-index: 9999;
    padding: 2rem;
    transition: opacity 0.2s;

    .socials {
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .nav-container[data-visible="false"] {
    opacity: 0;
    pointer-events: none;
  }
}

nav {
  .login-btn {
    display: block;
    color: white;
    padding: 0.5rem 0;

    border: 3px solid white;
    border-radius: 0.3rem;

    text-align: center;
    font-size: 1.2rem;

    transition-property: color, background-color;
    transition-duration: 0.3s;
  }
  .login-btn:hover {
    background-color: white;
    color: $very-dark-blue;
  }
}

#primary-navigation {
  margin-block: 2rem;

  li {
    text-align: center;
    border-top: 1px solid hsla(0, 0%, 40%);
  }
  li:last-child {
    border-bottom: 1px solid hsla(0, 0%, 40%);
  }

  a {
    display: block;
    color: white;
    padding: 1rem;

    font-size: 1.2rem;
  }
}

/* ################ Intro ################ */
section#intro {
  padding-inline: min(3vw, 2rem);
  position: relative;

  .background-pattern {
    top: 100px;
    right: -300px;
  }

  .content {
    > * + * {
      margin-top: 1rem;
    }
  }

  img {
    margin-bottom: 2.4rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    width: 90%;
    margin-inline: auto;
    font-size: 0.9rem;
  }

  .buttons {
    justify-content: center;
    gap: 1rem;
  }
}

/* ################ Features ################ */
section#features {
  padding-inline: min(10vw, 5rem);

  .head {
    margin-bottom: 2rem;

    p {
      line-height: 1.7;
    }
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
  p {
    font-size: 0.8rem;
  }
}

#selection-list {
  border-top: $selection-border;
  border-bottom: $selection-border;
  margin-bottom: 4rem;

  li + li {
    border-top: $selection-border;
  }

  button {
    display: block;
    width: 100%;
    position: relative;

    padding: 1rem;

    font-size: 1rem;
    font-weight: bold;
    color: $grayish-blue;
  }

  button.active {
    color: $very-dark-blue;

    .line {
      position: absolute;
      height: 4px;
      width: 50%;
      background-color: $soft-red;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

#tabs {
  position: relative;
  display: grid !important;
  grid-template-areas: "unique";

  .background-pattern {
    top: 35px;
    left: -350px;
  }

  .tab {
    padding-bottom: 4rem;
    grid-area: unique;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    img {
      margin-bottom: 4rem;
    }
    h3 {
      font-size: 1.3rem;
      letter-spacing: 0;
      margin-bottom: 0.7rem;
    }
    .btn {
      display: none;
    }
  }
  .tab.visible {
    opacity: 1;
    pointer-events: all;
  }
}

/* ################ Download Section ################ */
section#download {
  padding-inline: min(12vw, 5rem);

  .head {
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
  }
  p {
    font-size: 0.8rem;
    margin-inline: auto;
    line-height: 1.7;
  }
}

.cards {
  > * + * {
    margin-top: 2rem;
  }
}
.card {
  max-width: 500px;
  margin-inline: auto;
  box-shadow: 0 10px 15px -5px hsla(231, 69%, 60%, 0.2);
  padding: 3rem 1.3rem 1.3rem;
  border-radius: 1rem;

  img {
    margin-bottom: 1.2rem;
  }

  h3 {
    margin-bottom: 0.4rem;
  }

  .dots {
    margin-block: 2rem 1.5rem;
    border-top: 5px dotted hsl(0, 0%, 90%);
    width: calc(100% + 2.6rem);
    transform: translateX(-1.3rem);
  }

  .btn {
    width: 100%;
  }
}

/* ################ FAQs ################ */
section#faqs {
  padding-inline: min(10vw, 5rem);

  .head {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  p {
    font-size: 0.8rem;
  }
}

#faqs-list {
  text-align: left;
  margin-bottom: 3rem;

  li {
    border-bottom: 1px solid hsl(0,0%, 80%);
  }
}
.question {
	h3 {
		font-size: .85em;
		padding-block: 1rem;
		font-weight: 400;
		letter-spacing: 0;
	}
	.icon {
		font-size: 1.2rem;
		color: $soft-blue;
	}
	.answer {
		color: hsl(0,0%,40%);
		padding-block: 1rem;
		font-size: .9rem;
		display: none;
	}
}

.question[data-is-showing-answer="true"] {
	.icon {
		color: $soft-red;
		transform: rotate(180deg);
	}
	.answer {
		display: block;
	}
}
