@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&italic&display=swap');

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

html {
   font-size: 18px;
}

body {
   font-family: "Rubik", sans-serif;
}

/* #### general #### */
img {
   max-width: 100%;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   background: none;
   border: 0;
   outline: 0;
}

/* #### utility classes #### */