@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&italic&display=swap");
.primary-btn {
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 2px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 5px 15px -5px hsla(231, 69%, 60%, 0.3);
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  padding: 0.8rem 0.8rem;
  background-color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  color: white;
}

.primary-btn:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
}

.secondary-btn {
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 2px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 5px 15px -5px hsla(231, 69%, 60%, 0.3);
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  padding: 0.8rem 0.8rem;
  background-color: hsl(0, 0%, 97%);
  color: hsl(229, 31%, 21%);
  border-color: hsl(0, 0%, 97%);
}

.secondary-btn:hover {
  border-color: hsl(229, 31%, 21%);
}

.tertiary-btn {
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 2px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 5px 15px -5px hsla(231, 69%, 60%, 0.3);
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  padding: 0.8rem 0.8rem;
  background-color: hsl(0, 94%, 66%);
  border-color: hsl(0, 94%, 66%);
  color: white;
}

.tertiary-btn:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
}

.field {
  border-radius: 0.3rem;
  padding: 1rem 1rem 0.95rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: white;
  display: block;
}

.field::-moz-placeholder {
  color: hsl(0, 0%, 82%);
  font-weight: 500;
}

.field::placeholder {
  color: hsl(0, 0%, 82%);
  font-weight: 500;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.socials a .icon {
  transition: fill 0.3s;
}
.socials a:hover .icon {
  fill: hsl(0, 94%, 66%);
}

/* ################ Main, Footer ################ */
main,
footer {
  text-align: center;
}

section .section-intro {
  text-align: center;
}

@media (min-width: 992px) {
  main,
  footer {
    text-align: left;
  }
}
/* ################ Header ################ */
header {
  height: 100px;
}
header .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#nav-container {
  background-color: hsla(229, 31%, 21%, 0.95);
  position: fixed;
  inset: 0;
  z-index: 9999;
  padding: 2rem;
  transition: opacity 0.2s;
  pointer-events: all;
}
#nav-container .socials {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

#nav-container[data-visible=false] {
  opacity: 0;
  pointer-events: none;
}

nav .login-btn {
  display: block;
  color: white;
  padding: 0.5rem 0;
  border: 3px solid white;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 1.2rem;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
nav .login-btn:hover {
  background-color: white;
  color: hsl(229, 31%, 21%);
}

#primary-navigation {
  margin-block: 2rem;
}
#primary-navigation li {
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 40%);
}
#primary-navigation li:last-child {
  border-bottom: 1px solid hsl(0, 0%, 40%);
}
#primary-navigation a {
  display: block;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  header {
    height: 180px;
  }
  #nav-container,
  #nav-container[data-visible=false] {
    opacity: 1;
    pointer-events: all;
    background: none;
    position: static;
    padding: 0;
  }
  #nav-container .socials,
  #nav-container[data-visible=false] .socials {
    display: none;
  }
  nav {
    display: flex;
    align-items: baseline;
    gap: 1.2rem;
    font-size: 0.7rem;
  }
  nav .login-btn {
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 2px;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0 5px 15px -5px hsla(231, 69%, 60%, 0.3);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    padding: 0.8rem 0.8rem;
    background-color: hsl(0, 94%, 66%);
    border-color: hsl(0, 94%, 66%);
    color: white;
    font-size: 0.7rem;
    width: auto;
    padding: 0.6rem 1.6rem;
  }
  nav .login-btn:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
  }
  #primary-navigation {
    display: flex;
  }
  #primary-navigation li,
  #primary-navigation li:last-child {
    border: 0;
  }
  #primary-navigation a {
    font-size: 0.75rem;
    color: hsl(229, 31%, 21%);
    transition: color 0.3s;
    padding-inline: min(2vw, 1rem);
  }
  #primary-navigation a:hover {
    color: hsl(0, 94%, 66%);
  }
}
/* ################ Intro ################ */
section#intro {
  padding-inline: min(8vw, 5rem);
  margin-top: 2.5rem;
  margin-bottom: 9rem;
  position: relative;
}
section#intro .background-pattern {
  top: 35px;
  right: -300px;
}
section#intro img {
  margin-bottom: 2.4rem;
}
section#intro h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
section#intro p {
  margin-inline: auto;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
section#intro .buttons {
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 992px) {
  section#intro .background-pattern {
    top: 150px;
    right: -550px;
  }
  section#intro .container {
    display: flex;
    flex-direction: row-reverse;
    justify-items: space-between;
  }
  section#intro .container img {
    max-width: 120%;
    margin: 0;
  }
  section#intro .container .img-container {
    width: 50%;
  }
  section#intro .container .content {
    margin-top: 4rem;
    width: 40%;
    flex-grow: 1;
  }
  section#intro .buttons {
    justify-content: start;
  }
  section#intro h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  section#intro p {
    width: 90%;
    font-size: 1rem;
    margin-inline: 0;
  }
}
/* ################ Features ################ */
section#features {
  padding-inline: min(10vw, 5rem);
  margin-bottom: 4rem;
  text-align: center;
}
section#features .section-intro {
  margin-bottom: 2rem;
}
section#features h2 {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
section#features p {
  font-size: 0.83rem;
  max-width: 575px;
  margin-inline: auto;
}

#selection-list {
  border-top: 1px solid hsl(0, 0%, 88%);
  border-bottom: 1px solid hsl(0, 0%, 88%);
  margin-bottom: 4rem;
  margin-inline: auto;
}
#selection-list li + li {
  border-top: 1px solid hsl(0, 0%, 88%);
}
#selection-list button {
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  font-size: 0.93rem;
  font-weight: bold;
  color: hsl(229, 8%, 60%);
  transition-property: color;
  transition-duration: 0.3s;
}
#selection-list button:hover {
  color: hsl(0, 94%, 66%);
}
#selection-list button.active {
  color: hsl(229, 31%, 21%);
}
#selection-list button.active .line {
  background-color: hsl(0, 94%, 66%);
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#tabs {
  position: relative;
}
#tabs .background-pattern {
  top: 35px;
  left: -350px;
}
#tabs .tab {
  padding-bottom: 4rem;
  display: none;
}
#tabs .tab img {
  margin-bottom: 4rem;
}
#tabs .tab h3 {
  font-size: 1.3rem;
  letter-spacing: 0;
  margin-bottom: 0.7rem;
}
#tabs .tab .primary-btn {
  display: none;
}
#tabs .tab.visible {
  display: block;
}

@media (min-width: 992px) {
  section#features h2 {
    font-size: 1.8rem;
  }
  section#features p {
    font-size: 1.05rem;
  }
  #selection-list {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    border-top: 0;
    border-bottom: 1px solid hsl(0, 0%, 88%);
  }
  #selection-list li + li {
    border: 0;
  }
  #selection-list button {
    padding: 1.6rem 2.4rem;
    font-size: 0.95rem;
  }
  #selection-list button.active .line {
    width: 100%;
  }
  #tabs .background-pattern {
    top: 100px;
    left: -600px;
  }
  #tabs .tab h3 {
    font-size: 1.8rem;
  }
  #tabs .tab p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  #tabs .tab .primary-btn {
    display: inline-block;
  }
  #tabs .tab.visible {
    display: flex;
    gap: min(7rem, 10vw);
  }
  #tabs .tab.visible img {
    max-width: 50%;
  }
  #tabs .tab.visible .tab-content {
    width: 50%;
    margin-top: 3rem;
    text-align: left;
  }
}
/* ################ Download Section ################ */
section#download {
  padding-inline: min(12vw, 5rem);
  margin-bottom: 8rem;
}
section#download .container {
  max-width: 930px;
}
section#download .section-intro {
  margin-bottom: 2rem;
}
section#download h2 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
section#download p {
  font-size: 0.85rem;
  margin-inline: auto;
  line-height: 1.7;
  max-width: 590px;
}

.cards > * + * {
  margin-top: 2rem;
}

.card {
  max-width: 300px;
  margin-inline: auto;
  box-shadow: 0 7px 15px -3px hsla(231, 69%, 60%, 0.2);
  padding: 3rem 1.3rem 1.3rem;
  border-radius: 0.9rem;
  text-align: center;
}
.card img {
  margin-bottom: 1.2rem;
}
.card h3 {
  font-size: 1.05rem;
  margin-bottom: 0.4rem;
}
.card .dots {
  margin-block: 2rem 1.5rem;
  border-top: 5px dotted hsl(0, 0%, 90%);
  width: calc(100% + 2.6rem);
  transform: translateX(-1.3rem);
}
.card .primary-btn {
  width: 100%;
}

@media (min-width: 992px) {
  section#download {
    margin-bottom: 13rem;
  }
  section#download h2 {
    font-size: 1.7rem;
  }
  section#download p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  section#download .card .version {
    font-size: 0.86rem;
  }
  .cards {
    display: flex;
    justify-content: space-between;
  }
  .cards > * + * {
    margin: 0;
  }
  .cards .card:nth-child(2) {
    position: relative;
    top: 2rem;
  }
  .cards .card:nth-child(3) {
    position: relative;
    top: 4rem;
  }
  .card {
    margin: 0;
  }
  .card [class*=btn] {
    padding-inline: 2rem;
  }
}
/* ################ FAQs ################ */
section#faqs {
  padding-inline: min(10vw, 5rem);
  margin-bottom: 7rem;
}
section#faqs .section-intro {
  margin-bottom: 2rem;
}
section#faqs h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
section#faqs p {
  font-size: 0.9rem;
  max-width: 520px;
  margin-inline: auto;
}

#faqs-list {
  text-align: left;
  margin-bottom: 3rem;
  max-width: 500px;
  margin-inline: auto;
}
#faqs-list li {
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.question h3 {
  font-size: 0.85em;
  padding-block: 1rem;
  letter-spacing: 0;
}
.question .clickable-area {
  cursor: pointer;
}
.question .icon {
  font-size: 1.2rem;
  color: hsl(231, 69%, 60%);
}
.question .answer {
  color: hsl(0, 0%, 40%);
  padding-block: 0.7rem 1rem;
  font-weight: 500;
  display: none;
  line-height: 1.9;
}

.question[data-is-showing-answer=true] .icon {
  color: hsl(0, 94%, 66%);
  transform: rotate(180deg);
}
.question[data-is-showing-answer=true] .answer {
  display: block;
}

@media (min-width: 992px) {
  section#faqs h2 {
    font-size: 1.7rem;
  }
  section#faqs p {
    font-size: 1rem;
  }
  section#faqs .primary-btn {
    margin-inline: auto;
    display: block;
    width: -moz-max-content;
    width: max-content;
  }
  .question h3, .question .answer {
    font-weight: 400;
  }
  .question h3 {
    font-size: 1rem;
  }
  .question .icon {
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
}
/* ################ Contact section ################ */
section#contact {
  padding-block: 4.2rem 3.3rem;
  padding-inline: min(8vw, 3rem);
  background-color: hsl(231, 69%, 60%);
  text-align: center;
}
section#contact .container {
  max-width: 460px;
}
section#contact h3,
section#contact h2 {
  color: white;
}
section#contact h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.25rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
}
section#contact h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
section#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#contact .field-container.failed {
  background-color: hsl(0, 94%, 66%);
  padding: 0.15rem;
  border-radius: 0.3rem;
}
section#contact .field-container.failed .error-message {
  display: block;
  font-size: 0.6rem;
  font-style: italic;
  text-align: left;
  color: white;
  margin-left: 0.5rem;
  margin-block: 0.3rem 0.1rem;
}
section#contact .field-container.failed .error-icon {
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
section#contact .error-message,
section#contact .error-icon {
  display: none;
}
section#contact label {
  position: relative;
}
section#contact .field {
  width: 100%;
  padding-right: 3rem;
}

@media (min-width: 768px) {
  section#contact {
    padding-bottom: 4rem;
  }
  section#contact h3 {
    margin-bottom: 2rem;
  }
  section#contact h2 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  section#contact form {
    flex-direction: row;
  }
  section#contact form > * {
    flex-grow: 1;
  }
  section#contact form:has(.field-container.failed) {
    align-items: start;
  }
}
/* ################ Footer ################ */
footer {
  padding-inline: min(12vw, 5rem);
  background-color: hsl(229, 31%, 21%);
  color: white;
  padding-block: 3rem;
}
footer .logo {
  margin-bottom: 2rem;
}
footer .footer-list {
  margin-bottom: 3rem;
}
footer .socials {
  justify-content: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer-list a {
  color: hsl(0, 0%, 80%);
  letter-spacing: 2px;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: color 0.3s;
}
.footer-list a:hover {
  color: hsl(0, 94%, 66%);
}

.attribution {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 3rem;
}
.attribution a {
  color: hsl(0, 94%, 66%);
}
.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .container > * {
    flex-shrink: 0;
    margin: 0;
  }
  footer .logo-and-list {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }
  footer .logo,
  footer .footer-list {
    margin: 0;
  }
  footer .footer-list {
    flex-direction: row;
  }
}/*# sourceMappingURL=index.css.map */